<div class="warapper">
<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>
  <header>
    <ul class="header-main-list">
      <i class="fas fa-database"></i>
      <li class="title">sisyutsu</li>
      <li class="separator"></li>
      <ul class="reserch-box">
        <i class="far fa-chart-bar"></i>
        <li class="reserch">分析</li>
      </ul>
      <li class="separator"></li>
    </ul>
  </header>
  <div class="main-container">
    <div class="main-contents">
      <div class="main-form">
        <h1 class="form-title">支出を入力</h1>
        <p class="form-name-item">品目名</p>
        <p class="form-name-category">カテゴリー</p>
        <p class="form-name-price">金額</p>
        <%= form_with model: Purchase, local: true do |f| %>
          <%= f.text_field :text %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {} ) %>
          <%= f.text_field :price %>
          <%= f.submit "送信" %>
        <% end %>
      </div> 
      <div class="result-form">
        <h1 class="result-title">今月の状況</h1>
        <div class="result-contents">
          <p class="result-month-title">今月</p>
           <p><%= @purchase_month %>円</p>
          <p class="result-week-title">今週</p>
          <p><%= @purchase_week%>円</p>
          <p class="result-day-title">今日</p>
          <% @day_sum = 0 %>
          <% @result_today.each do |result| %>
            <P><% @day_sum += result.price %></p>
          <% end %>
           <p><%= @day_sum %>円</p>
          <p class="result-purchase-title">残り給与</p>
          <p><%= @balance_money %>円</p>
        </div>
      </div>
      <div class="result-form2">
        <div class="self-investment">
          <h1>今月の自己投資額</h1>
          <p><%= @investments_total %>円</p>
        </div>
        <div class="separate"></div>
        <div class="waste-money">
          <h1>今月の無駄遣い</h1>
          <p><%= @wastes_total %>円</p>
        </div>
      </div> 
      <div class="result-form3">
       <h1>今月の出費一覧</h1>
       <div class="purchase-item-box">
        <% this_month = Date.today.all_month  %>
        <% @purchases.each do |purchase| %>
          <% if (this_month.include?(Date.parse(purchase[:created_at].to_s))) %>
            <p><%= purchase.text %></p>
          <% end %>
        <% end %>
         
       </div>
      </div>     
    </div>      
    </div>
  </div>
</div>
