<div class="warapper">
<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>
  <header>
    <ul class="header-main-list">
      <i class="fas fa-database"></i>
      <li class="title">sisyutsu</li>
      <li class="separator"></li>
      <ul class="reserch-box">
        <i class="far fa-chart-bar"></i>
        <li class="reserch">分析</li>
      </ul>
      <li class="separator"></li>
    </ul>
  </header>
  <div class="main-container">
    <div class="main-contents">
      <div class="main-form">
        <%= form_with model: Purchase, local: true do |f| %>
          <%= f.text_field :text %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {} ) %>
          <%= f.text_field :price %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>